<%- include("header.ejs") %>
<div>
    <div class="unit-links">
        <div><a href="https://drive.google.com/drive/folders/1F5VjY2cfPaeXtHk6rbwp48qfPwpcRvV1?usp=drive_link" className="primary-unit-link">Unit - 1</a></div>
        <div><a href="https://drive.google.com/drive/folders/1l8dFDaUPWW7cjAjWwfXHlUNclgaeHMuo?usp=drive_link" className="primary-unit-link">Unit - 2</a></div>
        <div><a href="https://drive.google.com/drive/folders/1YnAE88qhC9egu5faYOX-ku4OZ9GdG-NV?usp=drive_link" className="primary-unit-link">Unit - 3</a></div>
        <div><a href="https://drive.google.com/drive/folders/19-tOktlbcFKK4yQQ4oEYFSXNaNhcyt9Y?usp=drive_link" className="primary-unit-link">Unit - 4</a></div>
        <div><a href="https://drive.google.com/drive/folders/1LTSU-4AKffUUjc7D1lqFUoyzHapA-bg5?usp=drive_link" className="primary-unit-link">Unit - 5</a></div>
        <div><a href="https://drive.google.com/drive/folders/18WPDKXAVaLouxLVRCVD4UoUb1WpfQvsg?usp=drive_link" className="primary-unit-link">Unit - 6</a></div>
        <div><a href="https://drive.google.com/drive/folders/1IlhUphaWlF_VPgtTLGrR8OwYefObhA_z?usp=drive_link" className="primary-unit-link">Others</a></div>
    </div>
    <div class="units-to-home-back">
        <a href="/"><button>back</button></a>
    </div>
</div>