<%- include("header.ejs") %>
<div>
    <div class="unit-links">
        <div><a href="https://drive.google.com/drive/folders/1H1-CewGixZ51i_zdx4VUZIeJ-kIQHaTx?usp=drive_link" className="primary-unit-link">Unit - 1</a></div>
        <div><a href="https://drive.google.com/drive/folders/1ZCoKmIuwyE4p5w6nsrC4m14tKpJDC6Nm?usp=drive_link" className="primary-unit-link">Unit - 2</a></div>
        <div><a href="https://drive.google.com/drive/folders/1r72UKE3MtKN7nK4DdEUaliM4RqtluaCT?usp=drive_link" className="primary-unit-link">Unit - 3</a></div>
        <div><a href="https://drive.google.com/drive/folders/1DDDGQdw2heDxCJOrcybKXvdl0fOeY8RR?usp=drive_link" className="primary-unit-link">Unit - 4</a></div>
        <div><a href="https://drive.google.com/drive/folders/11NKFmTBwgEn_4Fk8j9Q6lsrjVYKcYueb?usp=drive_link" className="primary-unit-link">Unit - 5</a></div>
        <div><a href="https://drive.google.com/drive/folders/1PJj0DKy3uZiJt3ORdnoVDougvV2No2t2?usp=drive_link" className="primary-unit-link">Unit - 6</a></div>
        <div><a href="https://drive.google.com/drive/folders/1YvMDdepMuUnHZ0l_-NizuFzYvwZok8kO?usp=drive_link" className="primary-unit-link">Others</a></div>
    </div>
    <div class="units-to-home-back">
        <a href="/"><button>back</button></a>
    </div>
</div>